@media (max-width: 640px) {
    #about {
        padding-left: 20px; /* Adjust the left padding as needed */
        padding-right: 20px; /* Adjust the right padding as needed */
    }
}
 /* Custom styles for the navbar */
 .navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbar li {
    font-size: 1.2rem;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #00bcd4;
}


/* Styling for the contact section */
#contact {
    background-color: #333;
}

#contact h2 {
    color: white;
}

#contact:hover h2 {
    color: #00bcd4;
}

